@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://use.typekit.net/yex1ueh.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: 'muli', "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oneSection {
  margin: 0 auto;
  
  width: 100vw;
  height: 100vh;
  
}

.oneSection img {
  position: absolute;
  right: 0;
  width: 60%;
}

.oneSection-title {
  width: 35vw;
  font-size: 1.7em;
  line-height: 1.5;
  padding-left: 8%;
  padding-top: 12%;
}

.oneSection-title h1 {
  color: #1d164d;
  font-family: "roboto", sans-serif;
  font-weight: 700;
}

/* Two Section */

.twoSection {
  
  width: 100vw;
  padding: 6%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  color: #1d164d;
  font-weight: 900;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

.twoSection-text {
  margin: 1% auto;
  width: 60%;
}
.subtitle {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.2rem;
  color: gray;
  font-family: "muli", sans-serif;
}

.twoSection-cards {
  margin: 4% auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4%;
  justify-content: center;
  
}
/* Section Three */

.threeSection{  
  align-items: center;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0;
}

.threeSection img{
  width: 100%;
}


.threeSection-text{
  margin: 0 auto;
  width: 90%;
  text-align: left;
  padding-right: 10%;
  
}
.threeSection-text h1{
  width: 90%;
  font-size: 2rem;
  line-height: 1.5;  
}
.threeSection-text p{
  margin: 6% 0;
  width: 90%;
  line-height: 1.5;
  font-size:1.2rem;
  color: rgb(196, 194, 194);
}


/* section four */
.fourSection{
  background-color: #fafafa;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 4%;
  padding-left: 8%;
  
}
 

.fourSection p {
  width: 60%;
  padding: 2%;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  font-size: 1.1em;
  color: gray;
  
}

.fourSection-cards{
  display: flex;
  overflow-y: hidden;
}